.f-10{
    font-size:10px;
}

.m-r-15{
    margin-right:15px;
    } 
 
.fa{
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;

    } 
    .text-c-red{
    background-color:#f44236;
        } 